*{
	margin: 0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}
header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	box-sizing: border-box;
	background-color: black;
	color: white;
}
.header{
	position: fixed;

}
header .logo{
	float: left;
	font-weight:bold;
	height: 70px;
	line-height: 70px;
}
/*header .logo img{
	margin-top: 3vh;
}*/
header nav{
	float: right;
	background-color: black;
}
header nav ul{
	display: flex;
	margin: 0;
	padding: 0;
}
header nav ul li{
	list-style: none;
}
.activeBottom{
	border-bottom:3px solid #fce29b; 
}
.activeColor{
	color: #00b1b0 !important;
}
header nav ul li a{
	height: 70px;
	list-style: none;
	padding: 0 20px;
	line-height:70px;
	text-decoration: none;
	color: #f4f3de;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
header nav ul li a:hover{
	color: #00b1b0;
}

.menu-toggle{
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
@media only screen and (max-width: 995px) 
{
	header
	{
		padding: 0 20px !important;
	}
	.menu-toggle
	{
		display: block !important;
	}
	header nav{
		/*display: none !important;*/
		position: absolute;
		width: 100%;
		height: calc(100vh-50px);
		top: 50px;
		left: -100%;
		transition: 0.5s;


	}
	header nav.active{
		left: 0;

	}
	header nav ul{
		display: block;
		text-align: center;
	}
}




























.welcome{
	width: 100%;
	height: 100vh;
	flex-direction: column;
	background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(././img/welcome_bg.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;	
}
.text1 img{
	width: 90%;
	vertical-align: middle;
}
.text2{
	width: 30vw; 
	color:#f4f3de;
	font-size: 0.5rem;
	text-align: center;
}
.discover_button{
	width:12vw;
	height: 7vh;
	margin-top: 2.2rem;
	background-color: #fce29b;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.discover_button a{
	border:none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
   
}
@media only screen and (max-width: 930px){
	.text2{
		width:50vw;
	}
	.discover_button{
		width:25vw;
		height: 7vh;
	}
	.discover_button a{
	    font-size: 0.8rem;
	   
	}
}

@media only screen and (max-width: 500px){
	.discover_button{
		width:35vw;
		height: 7vh;
	}
	.discover_button a{
	    font-size: 0.8rem;
	   
	}
}




































































.story{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.background_text h1{
	padding-top: 1.5rem;
	font-size: 9vw;
	letter-spacing: 1rem;
	color: #ececec;
}
.forward_text h1{
	z-index: 1;
	font-size: 4.2vw;
	margin-top: -7.5vw;
	font-weight: 700
}
hr{
	box-sizing: content-box;
}
.section_title_line{
	height: 4px;
    width: 150px;
    border:none;
    margin-top: 2vw;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(0, 177, 176) 50%, rgb(32, 124, 202) 50%, rgb(41, 137, 216) 50%, rgb(0, 177, 176) 50%, rgb(0, 177, 176) 50%, rgb(0, 177, 176) 50%, rgb(255, 255, 255) 100%);
}
.subtext{
	padding-top: 40px;
	padding-bottom: 30px;
	width: 40vw;
	text-align: center;
	letter-spacing: 1px;
	line-height: 4vh;
}
#letterL{
	color: #ffe87c;
	font-size: 1.2rem; 
	font-weight: bold;  
	-webkit-transform: rotate(180deg);
}
#contactUs{
	color: #00b1b0;
	font-weight: bold;  
}
.table_button{
	background-color: #00b1b0;
	margin-top: 10px;
	border: 1px solid black;
	width: 13vw;
	height: 5vh;
	border:none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.table_button a{
	text-decoration: none;
	color: white;
	font-size: 1.2vw;
}
@media only screen and (max-width: 1357px) and (min-width: 801px) {
	.subtext{
		width:55%;
	}
	.subtext p{
		font-size: 1.2vw;
	}
}
@media only screen and (max-width: 800px) {
	.subtext{
		width:85%;
	}
	.subtext p{
		font-size: 1.9vw;
	}
}





































.table{
	width: 100%;
	height: 90vh;
	display:flex;
}
.table_img{
	width: 50%;
	background: url(././img/about_1.jpg) no-repeat center center / cover;
}
.table_text{
	width: 50%;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}
.table_text h1{
	font-size: 3vw;
	letter-spacing: 0.2rem;
}
.table_text_subtitle{
	width: 38vw;
	letter-spacing: 0.1rem;
	line-height: 4vh;
	margin-top: 1rem;	
}
.table_text_subtitle p{
	font-size: 1rem;
}












.table_img2{
	width: 50%;
	background: url(././img/about_2.jpg) no-repeat center center / cover;
}
.table_img3{
	width: 50%;
	background: url(././img/about_3.jpg) no-repeat center center / cover;
}@media only screen and (max-width: 1357px) and (min-width: 801px) {
	.table_text_subtitle p{
		font-size: 1vw;
	}
	#letterL{
		font-size: 1.5vw;
	}
}
@media only screen and (max-width: 800px) {
	.table{
		height: 60vh;
	}
	.table_img,.table_img2,.table_img3{
		display: none;
	}
	.table_text{
		width: 100% !important;
	}
	.table_text_subtitle{
		width: 96%;
	}
	.table_text_subtitle p{
		font-size: 1.7vw;
	}
	#letterL{
		font-size: 1.9vw;
	}
}
































.menu{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.background_text1 h1{
	padding-top: 1.5rem;
	font-size: 9vw;
	letter-spacing: 1.3rem;
	color: #ececec;
}
.forward_text1 h1{
	z-index: 1;
	font-size: 4vw;
	margin-top: -7.5vw;
	font-weight: 700
}
.subtext1{
	padding-top: 40px;
	padding-bottom: 30px;
	width: 70vw;
	float: left;
	font-size: 2vw;
	font-weight: bold;
	/*text-align: center;*/
	letter-spacing: 1px;
	line-height: 4.3vh;
}
.subtext1 a{
	color:#00b1b0;
	text-decoration: none;
}





























.slider{
	width: 100%;
	height: 50vh;
	background: url(././img/review_bg.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_text{
	width: 30%;
	font-size: 2.7vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fce29b;
}
.slider_container{
	width: 50%;
}






.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*.active1, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 482px) {
  .prev, .next,.text {font-size: 11px}
}
.text span{
	color: #fce29b;
	font-weight: bold;
}















































.gallery{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.background_text2 h1{
	padding-top: 1.5rem;
	font-size: 9vw;
	letter-spacing: 1.3rem;
	color: #ececec;
}
.forward_text2 h1{
	z-index: 1;
	font-size: 4vw;
	margin-top: -7.5vw;
	font-weight: 700
}













.gallery_grid{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.row{
	/*border: 1px solid;*/
	width:80%;
	height: 100%;
	display: flex;

}
.column{
	/*border: 1px solid;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex:30%;
}
.column img{
	margin-top:30px;
	width:90%;
	height: 28%;
}
.column1{
	/*border: 1px solid;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex:30%;
}

.column1 img{
	margin-top:20px;
	width:90%;
	height: 48%;
}

@media only screen and (max-width: 730px){
	.row{
		flex-direction: column;
	}
}














































.email {
	margin-top: 50px;
	width:100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
}
.email_container{
	width:80%;
	display: flex;
	justify-content: space-around;
}
.email_container h1{
	color: #fce29b;
	letter-spacing: 1px;
	font-size: 1.7vw;
}
.email_container input{
	width: 25vw;
	height: 5vh;
	border:1px solid white;
	background-color: black;
	padding-left: 1vw;
}
::placeholder{
	color: #fce29b;
	font-size: 1.3vw;
}
.email_container input:hover{
	border:1px solid #fce29b;
	cursor: pointer;
}
.email_container button{
	width: 10vw;
	height: 6vh;
	border:1px solid #fce29b;
	background-color: #fce29b;
	font-size: 0.9vw;
	padding: 0.3vw;
	font-weight: bold;
}
.email_container button:hover{
	border: 1px solid rgba(241, 174, 43, 0.9);
	background-color: rgba(241, 174, 43, 0.9);
}










































.reserve{
	display: flex;
	width: 100%;
	height: 80vh;
	justify-content: center;
	align-items: center;
}
.reserve_section{
	width:98%;
	height: 96%;
	display: flex;
}
.reserve_photo{
	width:50%;
	height: 100%;
	background: url(././img/reservation_bg.jpg) no-repeat center center / cover;
}
.reserve_form{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.reserve_form h1{
	font-size: 2rem;
}
.reserve_form_container{
	display: flex;
	justify-content: center;
	width: 90%;
	height: 70%;
}
.reserve_form_container1{
	width:70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.reserve_form_container1 input,select {
	width:20vw;
	height: 6vh;
	margin-top: 30px;
	border: 1px solid #ececec;
}
.form::placeholder{
	color:black;
	font-size: 1vw;
	padding: 1vw;
}
@media only screen and (max-width: 930px){
	.reserve_photo{
		display: none;
	}
	.reserve_form{
		width: 100%;
	}
	.reserve_form h1{
		font-size: 1rem;
	}
	.reserve_form_container{
		width: 80% !important;
	}
	.reserve_form_container1{
		width:100% !important;
	}
	.reserve_form_container1 input,select {
		width:30vw;
	}	
}























































.location{
	width:100%;
	height: 35vh;
	background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(././img/map_bg.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location:before{
	background-color: rgba(0, 0, 0, 0.6);
}
.location h1{
	color: #fce29b;
	font-size: 3rem;
	letter-spacing: 1px;
}
.location h2{
	margin-top: 4vh;
	color:white;
}
@media only screen and (max-width: 960px){
	.location h1{
		font-size: 2rem !important;
	}
	.location h2{
		font-size: 1rem !important;
	}
}
@media only screen and (max-width: 420px){
	.location h1{
		font-size: 1.2rem !important;
	}
	.location h2{
		font-size: 0.8rem !important;
	}
}










































































.map{
	width: 100%;
}
iframe{
	width:100%;
	height: 50vh;
}































footer{
	width:100%;
	height: 45vh;
	background-color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}
.footer_container{
	margin-top: 5vh;
	width:80%;
	height: 80%;
	display: flex;
}
.footer_column{
	flex:25%;
}
.footer_column h1{
	color:#fce29b;
	font-size: 1.6rem;
	margin:0;
	padding: 0;
	text-align: left;
}
.footer_column p{
	color: white;
	font-size: 1rem;
	line-height: 2rem;
}
hr{
	width:80%;
	color: white;
}
.right{
	margin-top: 15px;
	margin-bottom: 15px;
	width:80%;
}
.right p{
	color:white;

}
@media only screen and (max-width: 960px){
	footer{
		height: 105vh;
	}
	.footer_container{
		flex-direction: column;
	}
}
